.font-Size-1{
  color: white;
  font-size: 2em;
}
.font-Size-2{
  font-size: 1.5em;
}
.font-Size-3{
  font-size: 1em;
}
.font-Size-4{
  font-size: .8em;
}

.color-black{
  color: black;
}
.font-bold{
  font-weight: bold;
}

.color-line-black{
  background-color: black;
  height: 1.5px;
}