.login-button{
	border: none !important;
	outline: none !important;
	background-color: turquoise !important;
	margin-top: 10px;
	width: 90%;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
}
.login-button:hover{
  background-color: rgba(64, 224, 208, 0.698) !important;
}
.login-button:active{
  background-color: turquoise !important;
}

.registro-button{
	border: none !important;
	outline: none !important;
	background-color: turquoise !important;
  margin-top: 10px;
  margin-left: 50%;
	width: 50%;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
}
.registro-button:hover{
  background-color: rgba(64, 224, 208, 0.698) !important;
}
.registro-button:active{
  background-color: turquoise !important;
}

.login-div {
  padding-top: 15px;
  padding-bottom: 15px;
  
  width: 500px;
  background-color: rgba(255, 255, 255, 0.377);
  margin-bottom: 35px;
}
.registro-div {
  padding-top: 15px;
  padding-bottom: 15px;
  
  width: 70%;
  background-color: rgba(255, 255, 255, 0.377);
  margin-bottom: 35px;
}

.index-div {
  padding-top: 30px;
  padding-bottom: 30px;
  
  width: 70%;
  background-color: rgba(255, 255, 255, 0.377);
  margin-bottom: 35px;
}
.login-container {
  width: 75% !important;
}
.registro-container {
  width: 90% !important;
}
.index-container {
  width: 70% !important;
}
.simple-textbox {
  border: transparent !important;
  padding-left: 10px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
  width: 100%;
  font-size: 1em !important;
}

hr.blueline {
  border: 3px solid turquoise;
}
a.click {
  cursor: pointer;
  text-decoration: underline !important;
}

.table>tbody>tr>td, .table>tfoot>tr>td{
  vertical-align: middle;
}
@media screen and (max-width: 600px) {
  table#cart tbody td .form-control{
  width:20%;
  display: inline !important;
}
.actions .btn{
  width:36%;
  margin:1.5em 0;
}

.actions .btn-info{
  float:left;
}
.actions .btn-danger{
  float:right;
}

table#cart thead { display: none; }
table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
table#cart tbody tr td:first-child { background: #333; color: #fff; }
table#cart tbody td:before {
  content: attr(data-th); font-weight: bold;
  display: inline-block; width: 8rem;
}



table#cart tfoot td{display:block; }
table#cart tfoot td .btn{display:block;}

}
